body{
	text-align: center;
}

.fade.ng-enter-stagger {
  transition-delay: 0.3s;
  animation-delay: 0.3s;
}

.fade { 
	opacity: 1;
}
.fade.ng-enter {
  opacity: 0;
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
}
/* line 71, ../sass/ng-animation.scss */
.fade.ng-enter-active {
  opacity: 1;
}


.fade{
	display: inline-block;
	padding: 10px;
	text-align: center;
	border-radius: 5px;
	background-color: #99cc99;
	width: 100px;
	height: 100px;
	color: white;
	margin: 10px;
}